<div class="background">
    <div class="title">
        <div class="margin-top" style="height: 20vh;"></div>
        <h1>Tema 1</h1>
        <a href="https://docs.google.com/presentation/d/1fbE_OOS7lHIgsDasJX0aZrO9dBeOXT8QvBu2X8LwsdE/edit#slide=id.g198a99b61d8_0_27" style="text-decoration: none;"><button>PDF</button></a>
    </div>
    <div class="design">
        <div class="margin-top"></div>
        <div class="circle">
            <img src="assets/pencil.png">
        </div>
    </div>
</div>
